body {
  margin: 0;
  padding: 0;
}

.catCarrier {
  width: 80%;
}

.menu {
  float: left;
  width: 5%;
  padding: 2%;
}

.menu img {
  width: 100%;
  border: 1px solid black;
}

.form {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 30%;
  justify-content: space-around;
  align-content: space-around;
  float: right;
}

.form img {

}

.form label {
  width: 20%
}

.form input {
  width: 60%;
}

.form button {
  width: 30%;
}
.hidden {
  display: none;
}
